/* Styling for base.html */

body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

.col-md-8 {
    color: rgb(0, 0, 0);
    text-decoration: double;
    background-color: rgb(55, 207, 88);
    text-align: center;
}

.col-lg-4 {
    color: blue;
    background-color: aquamarine;
    text-align: center;
}

.navbar {
    font-weight: bold;
    font-size: large;
}

.header {
    font-weight: bold;
    color: white;
}

.button-styling{
    margin-left: 50px;
    height: 10rem;
    width: 100rem;
}
