{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8 curr-recent-played">
            <img class="img-1" src="{{ items['image'] }} " alt="song-picture" width="200px" height="200px">

            <h1 class="option"> {{ items["option"] }}</h1>
            <h1> {{ items["song_name" ]}} By {{ items["artist_name"]}}</h1>
            <hr class="section-break">
            <h1 class="option"> My Playlists </h1>
            <div class="playlist">
                <table class="table">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                        {% for p in items["playlist"] %}
                            <tr>
                                <td class="name"> {{ p[0] }} </td>
                                <td class="name"> {{ p[1] }}</td>
                               <br>
                            </tr>
                        {% endfor %}
                </table>
            </div>
            <footer class="footer">
                <p> Credits Spotify  </p>
                <br>
                <p>  © Ansh Malhotra 2022 </p>
            </footer>
        </div>

        <div class="col-md-4 top-artists">
            <h1 class="option"> Top 5 Artists </h1>
            {% for artist in items["top_artists"] %}
                <img class="img-2" src="{{ items['top_artists'][artist][1] }}" alt="artist-picture" width="100px" height="100px">
                <h3 class="heading"> {{ items["top_artists"][artist][0] }} </h3>
            {% endfor %}

        </div>
    </div>

{% endblock %}
